jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 安装构建工具
        run: sudo apt-get install -y qemu-user-static debootstrap

      - name: 构建 Debian 13 (Trixie) Rootfs
        run: |
          sudo debootstrap --arch=arm64 --foreign trixie ./debian-rootfs http://mirrors.ustc.edu.cn/debian/
          sudo cp /usr/bin/qemu-aarch64-static ./debian-rootfs/usr/bin/
          # 进入 chroot 预装软件 (关键步骤)
          sudo chroot ./debian-rootfs /bin/bash -c "apt update && apt install -y openssh-server xfce4 vnc4server sudo"

      - name: 打包归档
        run: sudo tar -cJvf rootfs-full.tar.xz -C ./debian-rootfs .
